* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #282c34;
    --bg-panel: #21252b;
    --bg-dark: #1e2227;
    --bg-light: #2c313a;
    --border: #181a1f;
    --border-light: #4b5263;
    --fg: #abb2bf;
    --fg-max: #ffffff;
    --fg-disabled: #5c6370;

    --hover-dim: black;

    --primary: #3acbaf;
}

[data-theme="graphite"] {
    --bg: #222222;
    --bg-panel: #1c1c1c;
    --bg-dark: #181818;
    --bg-light: #2d2d2d;
    --border: #121212;
    --border-light: #3a3a3a;
    --fg: #cccccc;
    --fg-max: #ffffff;
    --fg-disabled: #737373;

    --hover-dim: #0a0a0a;
}
